# Dependencias
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
.next/
out/

# Entorno / secretos
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# SO / editor
.DS_Store
.idea/
.vscode/
*.swp

# Scratch / temporales
.scratch/
tmp/
